POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
USER_MODULE_AUTH_SECRET=
USER_MODULE_AUTH_ISSUER=
USER_MODULE_AUTH_AUDIENCE=
USER_MODULE_WEBSITE_URL=
MAILING_MODULE_SMTP_HOST=
MAILING_MODULE_SMTP_PORT=
MAILING_MODULE_SMTP_USERNAME=
MAILING_MODULE_SMTP_PASSWORD=
MAILING_MODULE_SMTP_SENDER_NAME=
