bin/
obj/
.idea/
*.http
appsettings.Development.json
erd/
logs/
Migrations/
UniMeet.sln.DotSettings.user

# Test results
TestResults/
**/TestResults/
coverage.cobertura.xml
**/coverage.cobertura.xml
*.trx